.domino {
    background-color: #313131;
    margin: 5px;
    padding: 10px;
    border-color: #313131;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
}

.selected {
    border-color: white;
    border-width: 5px;
    border-style: solid;
}